<nav>
  <li>Stylists</li>
  <li><a asp-controller="Stylists" asp-action="Create">Add New</a></li>
  <li><a asp-controller="Stylists" asp-action="Index">View All</a></li>
  <li>Clients</li>
  <li><a asp-controller="Clients" asp-action="Create">Add New</a></li>
  <li><a asp-controller="Clients" asp-action="Index">View All</a></li>
</nav>
