@model HairSalon.Models.Client

<form asp-controller="Clients" asp-action="Create" method="post">
  <label asp-for="Name"></label><br />
  <input asp-for="Name" type="text" placeholder="Name" /><br />
  <span asp-validation-for="Name"></span><br />
  <label asp-for="Notes"></label><br />
  <textarea asp-for="Notes" placeholder="About"></textarea><br />
  <span asp-validation-for="Notes"></span><br />
  <label asp-for="StylistId"></label><br />
  <select asp-for="StylistId" asp-items=@ViewBag.StylistSelectList></select>
  <input asp-for="DateAdded" type="hidden" value=@ViewBag.DateNow />
  <button type="submit">Add</button>
</form>
