@model Client

<a asp-controller="Stylists" asp-action="Index">Return to List</a>

<h4>@Html.DisplayNameFor(model => model.Name)</h4>
<h1>@Html.DisplayFor(model => model.Name)</h1>
<h5>Added @Model.DateAdded.ToString("D").</h5>
<p>@Html.DisplayFor(model => model.Notes)</p>

<a asp-controller="Clients" asp-action="Edit" asp-route-id=@Model.StylistId>Edit</a>
<a asp-controller="Clients" asp-action="Delete" asp-route-stylistid=@Model.ClientId>Delete</a>
<hr />
